@font-face {
    font-family: 'MyFont';
    src: url('./my-font.woff2') format('woff2'),
      url('./my-font.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

  /* .hello {
    color: red;
   font-family: 'MyFont';
    background: url('./icon.png');
  } */

form {
  flex-direction: column;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

body {
  color: whitesmoke;
  background-color: black;
  font-family: 'Myfont';
  display: grid;
  grid-template: 1fr 2fr 1fr/1fr;
  justify-content: center;
  align-items: center;
}

#location {
  width: 50%;
}
  
.infoContainer {
  grid-row: 3/4;
}

.gifContainer {
  grid-row: 2/3;
}

.infoContainer, .gifContainer {
  display: block;
  margin: auto;
  padding: 0;
}


